.todo-container {
  height: 100vh;
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;

  .box {
    min-width: 350px;
    height: 50%;
    background-color: aliceblue;
    padding: 25px 15px;
    border-radius: 5px;
    box-shadow: 2px 2px rgb(187, 186, 186);
  }

  .containerButton{
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
  }

  .list-of-todo {
    margin-top: 8px;

    .todo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 8px 0;

      .containerCheckbox {
        display: flex;
        align-items: center;

        input {
          width: 16px;
          height: 16px;
        }
        
        .checked {
          text-decoration: line-through;
        }

        label {
          font-size: 16px;
          margin-left: 8px;
          font-family: Arial, Helvetica, sans-serif;
          color: #454545;
        }
      }

      .containerIcons {
        display: flex;
        align-items: center;

        .icon {
          font-size: 16px;
          margin: 0 6px;
          cursor: pointer;
  
          &:last-child {
          margin: 0 6px;
  
            color: #fb5d5d;
            font-size: 20px;
          }
        }
      }
    }
  }
}
